@use "@/styles/mixins.scss" as *;

.headerContent {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff0d;
  padding: 0 24px;

  @include respond-to("l") {
    display: none;
  }
}

.headerContent > img {
  margin-left: 16px;
}

.headerContent > svg {
  margin-right: 16px;
  cursor: pointer;
}

.headerMobileOpen {
  display: flex;           
  flex-direction: column;  
  width: 100%;
  height: 100%;
  @include respond-to("l") {
    display: none;
  }
}

.headerMobileOpen.isVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.titleSolutions {
  margin-top: 32px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.listMenuMobile {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 76px;
}

.listMenuMobile li {
  display: flex;
  width: 100%;
  max-width: 343px;
  height: 52px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  align-items: center;
  padding: 0 24px;
  font-weight: 400;

  border-radius: 16px;
  background: rgba(0,0,0,0.3);
}


