$ds-breakpoint-xs: 320px;
$ds-breakpoint-s: 375px;
$ds-breakpoint-m: 640px;
$ds-breakpoint-l: 900px;
$ds-breakpoint-xl: 1300px;
$ds-breakpoint-2xl: 1400px;

// colors
$pink: #ee0874;
$yellow: #ffd200;
$bg: #0d101b;
$ice: #c4c4c4;

// text-width

$hall-title-desktop: 54px;
$hall-title-mobile: 28px;
$hall-subtitle-desktop: 20px;
$hall-subtitle-mobile: 14px;

$content-title-desktop: 32px;
$content-title-mobile: 24px;
$content-subtitle-desktop: 20px;
$content-subtitle-mobile: 14px;

$cards-title-desktop: 18px;
$cards-title-mobile: 16px;
$cards-subtitle-desktop: 16px;
$cards-subtitle-mobile: 14px;
