@use "@/styles/mixins.scss" as *;
.solutionsItems {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  width: 100%;
  max-width: 1195px;
  gap: 32px;
}

.item {
  width: 100%;
  height: 328px;
  max-width: 549px;
  display: flex;
  border-radius: 16px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  cursor: pointer;
  transition: transform 250ms ease-out;

  @include respond-to("l") {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    &:hover {
      transform: translateY(-4px);
      .itemContent {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.itemTitle {
  width: 100%;
  padding: 8px;
}

.itemContent {
  display: flex;
  width: 100%;
  height: 80px;
  background: rgba(10, 10, 10, 0.95);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
