@use "@/styles/mixins.scss" as *;
@use "sass:color";

.headerWrapper {
  width: 100%;
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 24px;

  @include respond-to("l") {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    background: transparent;

    transition:
      padding 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      height 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    .header {
      pointer-events: all;
      background: transparent;
      transition:
        background 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        max-width 0.4s cubic-bezier(0.4, 0, 0.2, 1);

      &::before {
        opacity: 0;
        transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    &.isScrolled {
      height: 70px;
      padding: 12px 24px;
      margin-top: 36px;

      .dropMenu {
        left: calc(-20%);
      }

      .listMenuLi {
        font-size: 14px;
      }

      .header {
        max-width: 1192px;
        height: 72px;
        background: radial-gradient(circle at 50% 0%, $bg 0%, #000 95%);

        img {
          height: 26px !important;
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.header {
  width: 100%;
  justify-content: center;
  max-width: 1400px;
  height: 100px;
  display: none;
  align-items: center;
  padding: 0 32px;
  border-radius: 60px;
  position: relative;
  background: #020202;
  gap: 64px;

  & > img {
    pointer-events: visible;
    cursor: pointer;
  }

  @include respond-to("l") {
    display: flex;
  }
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  padding: 1.3px;
  background: linear-gradient(
    190deg,
    #f5c518 0%,
    transparent 40%,
    #e6003a 60%,
    #f5c518 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.header > img {
  width: auto !important;
  height: 40px !important;
  position: relative;
}

.listMenu {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
}

.listMenu::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 52px;
  background: #4d4444;
  bottom: 0;
  left: -24px;
}

.listMenuLi {
  height: 52px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

.listMenu li:hover {
  background: rgba($color: #535353, $alpha: 0.2);
  border-radius: 999px;
  cursor: pointer;
  align-items: center;

  & .dropMenu {
    opacity: 1;
    transform: translateY(10);
    visibility: visible;
  }
}

// ================= MOBILE ===============

.headerMobile {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;

  @include respond-to("l") {
    display: none;
  }
}

.headerMobile > img {
  margin-left: 16px;
  pointer-events: visible;
}

.headerMobile > svg {
  margin-right: 16px;
  cursor: pointer;
}

.headerMobileOpen {
  display: flex;
  position: fixed;
  z-index: 999;
  inset: 0;
  background: $bg;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition:
    opacity 300ms ease,
    visibility 300ms ease,
    transform 300ms ease;

  @include respond-to("l") {
    display: none;
  }
}

.headerMobileOpen.isVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.headerContent {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff0d;
  padding: 0 24px;
}

.headerContent > img {
  margin-left: 16px;
}

.headerContent > svg {
  cursor: pointer;
  margin-right: 16px;
}

.listMenuMobile {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 116px;
}

.logoHeader {
  width: 100% !important;
}

.listMenuMobile li {
  display: flex;
  width: 100%;
  max-width: 343px;
  height: 52px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 21px;
  color: #ffffff;
  align-items: center;
  padding: 0 24px;
  font-weight: 400;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  transform: translateY(6px);
  transition:
    opacity 300ms ease,
    visibility 300ms ease,
    transform 300ms ease;
}

.listMenuMobile li.isOpen {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropItem {
  position: relative;
  height: 52px;
  align-items: center;
  padding: 0 24px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.dropMenu {
  position: absolute;

  top: calc(103%);
  left: calc(-10%);
  right: calc(0);
  background: $bg;
  border-radius: 12px;
  padding: 8px 0;
  min-width: 180px;
  z-index: 99;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s;

  li {
    height: 42px;

    font-size: 14px;
    width: 100%;

    &:hover {
      background: rgba(#535353, 0.2);
      border-radius: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.solutionsOpen {
  display: flex;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: $bg;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition:
    opacity 300ms ease,
    visibility 300ms ease,
    transform 300ms ease;

  @include respond-to("l") {
    display: none;
  }
}

.solutionsOpen.isVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
