@use "sass:color";
@use "@/styles/mixins.scss" as *;

.portfolioWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
  position: relative;
}

.introductionWrapper {
  width: 100%;
}

.descIntroduction {
  width: 100%;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
  text-align: center;
  border-radius: 24px;
  background:
    radial-gradient(circle at center, $bg 0%, #000 40%),
    conic-gradient(from 0deg at 10% 10%, $bg 0%, $pink 50%, $pink 100%);

  h2 {
    font-size: 23px;
    margin-bottom: 32px;
  }

  p {
    font-size: 14px;
    color: $ice;
  }

  @include respond-to("l") {
    padding: 240px 128px;

    h2 {
      font-size: 38px;
      margin-bottom: 32px;
    }

    p {
      font-size: 18px;
      color: $ice;
    }
  }
}
